<!-- css CDN -->
<link href="https://cdn.www.gov.co/v2/assets/cdn.min.css" rel="stylesheet">
<!-- utils.js CDN -->
<script src="https://cdn.www.gov.co/v2/assets/js/utils.js"></script>
<!-- css bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"
  crossorigin="anonymous" />

<!-- js bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

<!-- js jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>



<link href="https://cdn.www.gov.co/v2/assets/cdn.min.css" rel="stylesheet">
<script src="https://cdn.www.gov.co/v2/assets/js/utils.js"></script>


<nav class="navbar navbar-expand-lg navbar-govco navbar-expanded" id="govco-header">
  <div class="container">
    <div class="navbar-logo float-left"><a class="navbar-brand" href="http://100.24.232.62/"><img
          src="https://cdn.www.gov.co/assets/images/logo.svg" height="30" width="140" alt="Logo Gov.co"></a><button
        class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible"
        aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button></div>
    <div class="collapse navbar-collapse navbar-first-menu float-right">
      <div class="nav-primary mx-auto hidden-transition">
        <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
          <li class="nav-item "> <a href="http://100.24.232.62/" class="nav-link">Inicio</a></li>
          <li class="nav-item "> <a href="/ficha-tramites-y-servicios/" class="nav-link">Trámites y servicios </a>
          </li>
          <li class="nav-item "> <a href="/tu-opinion-cuenta/" class="nav-link">Tu opinión Cuenta </a></li>
          <li class="nav-item "> <a href="/entidades/" class="nav-link">Entidades </a></li>
          <li class="nav-item "> <a href="https://www.gov.co/territorial/" class="nav-link">Portal Territorial </a>
          </li>
          <li class="nav-item "> <a href="/sobre-nosotros/" class="nav-link">Sobre Nosotros </a></li>
        </ul>
      </div>
      <div class="nav-item-primary ml-auto mr-2 is-scroll">

        <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container"><input
            class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm" type="search"
            placeholder="Buscar " aria-label="Search" name="searchTerm" id="search-desktop"><span
            class="govco-icon govco-icon-search-cn icon-search notranslate mr-icon" style="display: block;"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-secondary show-transition" id="nav-secondary">
    <div class="container">
      <div class="collapse navbar-collapse navbar-first-menu">
        <ul class="navbar-nav w-100 d-flex nav-items nav-items-desktop">
          <li class="nav-item "> <a href="http://100.24.232.62/" class="nav-link">Inicio</a></li>
          <li class="nav-item "> <a href="/ficha-tramites-y-servicios/" class="nav-link">Trámites y servicios </a>
          </li>
          <li class="nav-item "> <a href="/tu-opinion-cuenta/" class="nav-link">Tu opinión Cuenta </a></li>
          <li class="nav-item "> <a href="/entidades/" class="nav-link">Entidades </a></li>
          <li class="nav-item "> <a href="https://www.gov.co/territorial/" class="nav-link">Portal Territorial </a>
          </li>
          <li class="nav-item "> <a href="/sobre-nosotros/" class="nav-link">Sobre Nosotros </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
</nav>

<div class="block block--gov-accessibility position-inherit">
  <div class="block-options navbar-expanded">
    <a class="contrast-ref">
      <span class="govco-icon govco-icon-contrast-n"></span>
      <label> Contraste </label>
    </a>
    <a class="min-fontsize">
      <span class="govco-icon govco-icon-less-size-n"></span>
      <label class="align-middle"> Reducir letra </label>
    </a>
    <a class="max-fontsize">
      <span class="govco-icon govco-icon-more-size-n"></span>
      <label class="align-middle"> Aumentar letra </label>
    </a>
  </div>
</div>

<div class="bodyglobal">
  <div class="parrafosC1">
    <div class="parrafos">
      <!-- card en estado predeterminado -->
      <div class="card gov-co-tramite-card">
        <div class="card-body">
          <p class="card-text">Sistema de Información del SubsidioFamiliar de Vivienda</p>
        </div>
      </div>
      <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui oficia deserunt mollit anim id.</p>
    </div>
  </div>
  
  <div class="card login-form">
    <div class="card-body">
      <div>
        <form action="?" method="POST">
          <div class="contenedor-icono">
            <mat-icon class="icono-llave"> vpn_key</mat-icon>
          </div>
          <div class="titulo-inicio">
            <h1 class="govco-title-sign-form headline-l-govco">
              Inicio de sesión
            </h1>
          </div>
          <div class="form-group gov-co-form-group">
            <div class="gov-co-label-counter">
              <label for="exampleCountinput">Usuario</label>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Correo Electronico</mat-label>
              <input matInput placeholder="zz@asd.com">
            </mat-form-field>
          </div>
          <div class="form-group gov-co-form-group">
            <div class="gov-co-label-counter">
              <label for="contrasena">Contraseña</label>
            </div>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="*****">
            </mat-form-field>
          </div>
          <div class="g-recaptcha" data-sitekey="6LeCqOcUAAAAAMu9McR1zoUH0z6wDj_dekAODW5h"></div>
          <div class="d-flex botones">
            <button class="btn btn-round btn-high mx-0">CANCELAR</button>
            <button type="submit" class="btn btn-round btn-high mx-0">INICIAR SESIÓN</button>
          </div>
          <div class="d-flex">
            <button type="button" class="btn btn-font-gov-co px-0">OLVIDÉ MI CONTRASEÑA</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer page__footer footer-white footer-blue" id="govco-footer">
  <div class="container">
    <div class="footerCTotal">
      <div class="footerC1">
        <img src="https://cdn.www.gov.co/assets/images/logo.svg" height="30" width="140" alt="Logo Gov.co">
        <img src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg" height="30" width="140"
          class="img-fluid footer-icon-co" alt="Responsive image">
      </div>
      <div class="footerC2">
        <h3 class="footer-descripcion"> Ministerio de Vivienda, Ciudad y Territorio de Colombia </h3>
        <p class="footer-descripcion">
          Sede Atencion al Usuario y de Correspondencia: Calle 18 No. 7-59, Bogotá D.C.,Colombia <br>
          Codigo Postal: 110321 <br>
          Sede Administrativa "La Botica": Carrera 6 # 8-77, Bogotá, D. C., Colombia<br>
          Horario de atención: lunes a viernes, 8:00 a.m. a 4:00 p.m.
        </p>
        <div class="redes">
          <img src="https://www.gov.co/uploads/2253a0f8-5d3e-4059-94d2-dd453ba58fe4.svg" height="30" width="140"
            class="img-width" alt="Responsive image">
          <img src="https://www.gov.co/uploads/db6f60d8-de5e-4610-a832-9b943e5fbf23.svg" height="30" width="140"
            class="img-width" alt="Responsive image">
        </div>

      </div>
      <div class="footerC2">
        <h3 class="footer-descripcion">Contacto</h3>
        <p class="footer-descripcion">
          <span class="min-call"></span>
          Teléfono Conmutador: +57 (1) 419 70 99<br><span class="min-call"></span>
          Línea gratuita: 018000 413 664<br><span class="min-mail"></span>
          Correo Institucional: correspondencia@minvivienda.gov.co<br>
          Correo Notificaciones Judiciales: notificacionesjudici@minvivienda.gov.co
          Política de Seguridad de la Información<br>
          Política de Tratamiento y Protección de Datos Personales<br>
          Política de Privacidad y Condiciones de Uso
        </p>
      </div>
    </div>




  </div>

</footer>